*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    border-style:none;
    font-family: poppins;
}
.landing-contanier{
      border: 10px solid black;
      margin: 15px;
      
}
.header{
    display: flex;
    justify-content: space-between;

}
.title{
    display: flex;
    align-items: center;

}
.logo{

}
.name{

}
.nav-container{
 display: flex;
 align-items: center;
}
.nav{
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.nav-item{
 margin-right:10px ;
}
.nav-item button{
 margin-right: 10px;
}